version: '3.8'
services:

  db_stats:
    image: postgres:13.7-alpine

    environment:
      - POSTGRES_DB=statistics
      - POSTGRES_USER=stats
      - POSTGRES_PASSWORD=postgres

  statistics:
    build: ./statistics
    image: statistics_image:latest
    container_name: stats_container
    ports:
      - "9090:9090"
    depends_on:
      - db_stats
    environment:
      - DB_NAME=statistics
      - POSTGRES_USER=stats
      - POSTGRES_PASSWORD=postgres
      - DB_HOST=db_stats
      - DB_PORT=5432

  db_service:
    image: postgres:13.7-alpine

    environment:
      - POSTGRES_DB=service
      - POSTGRES_USER=service
      - POSTGRES_PASSWORD=postgres

  service:
    build: ./service
    image: service_image:latest
    container_name: serv_container
    ports:
      - "8080:8080"
    depends_on:
      - db_service
      - statistics
    environment:
      - EXPLORE_WITH_ME_STATISTICS_URL=http://statistics:9090
      - DB_NAME=service
      - POSTGRES_USER=service
      - POSTGRES_PASSWORD=postgres
      - DB_HOST=db_service
      - DB_PORT=5432